.navbar
  .navbar-inner
    .container
    <a href="/" class="brand">passphrase</a>

.container
  .row
    .span5
      .panel
        %form(accept-charset="UTF-8" action="/passphrase" class="form-horizontal" method="get")
          %div(style="margin:0;padding:0;display:inline")
            %input(name="utf8" type="hidden" value="&#x2713;")
          %fieldset
            .control-group
              %label(class='control-label')
                Phrase structure:
              .controls
                %label(class='radio')
                  %input(checked="checked" id="style_surprise_me" name="style" type="radio" value="surprise me")
                  surprise me
                %label(class='radio')
                  %input(id="style_subject" name="style" type="radio" value="subject")
                  subject
                %label(class='radio')
                  %input(id="style_verb" name="style" type="radio" value="verb")
                  verb
                %label(class='radio')
                  %input(id="style_subject_verb" name="style" type="radio" value="subject verb")
                  subject verb
            .form-actions
              %input(class="btn btn-primary" name="commit" type="submit" value="Generate")

  .span7
    .panel
      %p
        Your new passphrase is:
      %h1
        Latvian corns

